.gitignore
GuessingGame/build/*
GuessingGame/dist/*

Learning/build/*
Learning/nbproject/*

Purse/build/classes/*
Purse/dist/*
Purse/nbproject/*

CustomerBill/build/*
CustomerBill/nbproject/*

IntroToGUIi/nbproject/*

time/nbproject/*

GuessingGame/nbproject/*

/Guess/nbproject/private/
/Guess/build/
/Guess/dist/
/IntroToGUIi/dist/
/SecondGui/nbproject/private/
/SecondGui/build/
/SecondGui/dist/
/GUI/Buttons/nbproject/private/
/GUI/Buttons/build/
/GUI/Checkbox/nbproject/private/
/GUI/Checkbox/build/
/GUI/RadioButton/nbproject/private/
/GUI/RadioButton/build/
/GUI/RadioButton/dist/
/GUI/DropDownList/nbproject/private/
/GUI/DropDownList/build/
/GUI/List/nbproject/private/
/GUI/List/build/
/GUI/List/dist/
/GUI/ListMultipleSelection/nbproject/private/
/GUI/ListMultipleSelection/build/
/GUI/ListMultipleSelection/dist/
/GUI/MousePanel/nbproject/private/
/GUI/MousePanel/build/
/GUI/MousePanel/dist/