GuessingGame/build/*
GuessingGame/dist/*

Learning/build/*
Learning/nbproject/*

Purse/build/classes/*
Purse/dist/*
Purse/nbproject/*

CustomerBill/build/*
CustomerBill/nbproject/*

IntroToGUIi/nbproject/*

time/nbproject/*

GuessingGame/nbproject/*

